body {
    background-color: #f2cc07;
}

.panel-body {
    color: #0d0d0d;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    line-height: 1.5;

    text-align: justify;




}

/* questions font css*/
.txto {
    color: #9453a6;
    font-family: 'Henny Penny', cursive;

}

/* more questions font css*/
.txto2 {
    color: #f2f2f2;
    font-family: 'Pattaya', sans-serif;


}

a:hover {
    text-decoration-style: none;
}